<tui-theme-night *ngIf="false"></tui-theme-night>
<tui-root>
    <div class="grid">
        <div class="importer">
            <app-import-hands (parsed)="saveHands($event)"></app-import-hands>
        </div>
        <div class="parsed">
            <pre>{{ JSON.stringify(hands, null, 4) }}</pre>
        </div>
    </div>
    <ng-container *ngIf="false">
        <div>{{ deck.toString() }}</div>
        <button
            (click)="shuffle()"
            tuiButton
            appearance="secondary"
            type="button"
            size="m"
            class="tui-space_top-3"
        >
            Shuffle!
        </button>
    </ng-container>
</tui-root>
